/**
 * @author Simon JOUAN
 * @site https://jouan.ovh/
 * @lastmodified 12/09/2018
 *
 */

 /**
  * Sticky Footer
  *
  * sticky footer always stays on the bottom of the page
  */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.equalizer {
    height: 2.8rem;
}

/**
 * The border of the card
 */
.card.border {
    border: 1px solid #FFFFFF;
    border-radius: 0;
}

/**
 * The carousel
 */
 .carousel {
     height: 450px !important;
 }

 .carousel-item {
    visibility: hidden !important;
}

.carousel-item.active {
    visibility: visible !important;
}

.carousel > .carousel-item.active.right {
    animation: fromRightIn 1s linear;
}

.indicators-container{
    height: 450px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.indicators {
    position: relative;
    left: 10px;
    width: 25px;
    padding-bottom: 10px;
}

.indicator-item {
    float: right;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    height: 10px;
    width: 21px;    
}

.indicator-item:hover,
.indicator-item.active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    width: 25px;
    cursor: pointer;
}

@keyframes fromRightIn {
    from {
        transform: translateX(200px) rotateY(45deg) scale(0.5,0.5);
        opacity: 0.0;
    }
    to {
        transform: translateX(0px) rotateY(0deg) scale(1.0,1.0);
        opacity: 1.0;
    }
}

.carousel > .carousel-item.active.left {
    animation: fromLeftIn 1s linear;
}

@keyframes fromLeftIn {
    from {
        transform: translateX(-200px) rotateY(-45deg) scale(0.5,0.5);
        opacity: 0.0;
    }
    to {
        transform: translateX(0px) rotateY(0deg) scale(1.0,1.0);
        opacity: 1.0;
    }
}

#item-2.active h2 {
    animation-duration: 1s;
    animation-delay: 1000ms;
    animation-name: fromTopIn;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

#item-2.active p {
    animation-duration: 1s;
    animation-delay: 1000ms;
    animation-name: fromBottomIn;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

@keyframes fromTopIn {
    from {
        transform: translateY(-200px);
        opacity: 0.0;
    }
    to {
        transform: translateX(0px);
        opacity: 1.0;
    }
}

@keyframes fromBottomIn {
    from {
        transform: translateY(200px);
        opacity: 0.0;
    }
    to {
        transform: translateX(0px);
        opacity: 1.0;
    }
}

/**
 * Item Code
 */
 #item-3.active #code-item-1,
 #item-3.active #code-item-2,
 #item-3.active #code-item-3 {
    animation-duration: 1s;
    animation-name: codeFromBottomIn;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
    height: 165px;
 }

 #item-3.active #code-item-1 {
    animation-delay: 1000ms;
} 

#item-3.active #code-item-2 {
    animation-delay: 1100ms;
} 

#item-3.active #code-item-3 {
    animation-delay: 1200ms;
}

@keyframes codeFromBottomIn {
    from {
        transform: translateY(200px);
        background-color: rgba(255, 255, 255, 0.7);
        opacity: 0.0;
    }
    to {
        transform: translateX(0px);
        background-color: transparent;
        opacity: 1.0;
    }
}