body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.border {
    border: 1px solid #FFFFFF;
}


/* Class for when element is above threshold*/
.pin-top {
    position: relative;
}

/* Class for when element is below threshold*/
.pin-bottom {
    position: relative;
}

/* Class for when element is pinned*/
.pinned {
    position: fixed !important;
}