$orange1: hsl(24deg 70.0% 99.0%);
$orange2: hsl(24deg 83.3% 97.6%);
$orange3: hsl(24deg 100% 95.3%);
$orange4: hsl(25deg 100% 92.2%);
$orange5: hsl(25deg 100% 88.2%);
$orange6: hsl(25deg 100% 82.8%);
$orange7: hsl(24deg 100% 75.3%);
$orange8: hsl(24deg 94.5% 64.3%);
$orange9: hsl(24deg 94.0% 50.0%);
$orange10: hsl(24deg 100% 46.5%);
$orange11: hsl(24deg 100% 37.0%);
$orange12: hsl(15deg 60.0% 17.0%);
$orangeA1: hsl(20deg 94.9% 38.7% / 1.6%);
$orangeA2: hsl(24deg 95.8% 46.5% / 4.4%);
$orangeA3: hsl(25deg 100% 50.5% / 9.5%);
$orangeA4: hsl(26deg 100% 50.0% / 15.7%);
$orangeA5: hsl(25deg 100% 50.1% / 23.6%);
$orangeA6: hsl(25deg 100% 50.1% / 34.6%);
$orangeA7: hsl(24deg 100% 50.1% / 49.5%);
$orangeA8: hsl(24deg 99.7% 48.7% / 69.5%);
$orangeA9: hsl(24deg 99.9% 48.4% / 96.9%);
$orangeA10: hsl(23deg 100% 46.4% / 98%);
$orangeA11: hsl(23deg 100% 36.8% / 98%);
$orangeA12: hsl(15deg 99.4% 11.0% / 93.4%);
