$orange1: hsl(30deg 70.0% 7.2%);
$orange2: hsl(28deg 100% 8.4%);
$orange3: hsl(26deg 91.1% 11.6%);
$orange4: hsl(25deg 88.3% 14.1%);
$orange5: hsl(24deg 87.6% 16.6%);
$orange6: hsl(24deg 88.6% 19.8%);
$orange7: hsl(24deg 92.4% 24.0%);
$orange8: hsl(25deg 100% 29.0%);
$orange9: hsl(24deg 94.0% 50.0%);
$orange10: hsl(24deg 100% 58.5%);
$orange11: hsl(24deg 100% 62.2%);
$orange12: hsl(24deg 97.0% 93.2%);
$orangeA1: hsl(0deg 0% 0% / 0%);
$orangeA2: hsl(13deg 100% 49.7% / 5.4%);
$orangeA3: hsl(20deg 100% 49.7% / 11.7%);
$orangeA4: hsl(23deg 100% 49.8% / 16.6%);
$orangeA5: hsl(23deg 99.4% 50.1% / 21.5%);
$orangeA6: hsl(23deg 99.8% 51.1% / 28.6%);
$orangeA7: hsl(23deg 99.7% 50.6% / 38.9%);
$orangeA8: hsl(24deg 100% 49.9% / 52.3%);
$orangeA9: hsl(24deg 99.9% 51.6% / 96.5%);
$orangeA10: hsl(25deg 100% 58.6% / 98%);
$orangeA11: hsl(24deg 100% 62.4% / 98%);
$orangeA12: hsl(26deg 100% 94.2% / 98%);
