$red1: hsl(353deg 23.0% 9.8%);
$red2: hsl(357deg 34.4% 12.0%);
$red3: hsl(356deg 43.4% 16.4%);
$red4: hsl(356deg 47.6% 19.2%);
$red5: hsl(356deg 51.1% 21.9%);
$red6: hsl(356deg 55.2% 25.9%);
$red7: hsl(357deg 60.2% 31.8%);
$red8: hsl(358deg 65.0% 40.4%);
$red9: hsl(358deg 75.0% 59.0%);
$red10: hsl(358deg 85.3% 64.0%);
$red11: hsl(358deg 100% 69.5%);
$red12: hsl(351deg 89.0% 96.0%);
$redA1: hsl(0deg 0% 0% / 0%);
$redA2: hsl(5deg 98.5% 53.8% / 4.5%);
$redA3: hsl(359deg 99.1% 61.1% / 13%);
$redA4: hsl(358deg 98.8% 61.0% / 18.4%);
$redA5: hsl(357deg 99.6% 60.3% / 23.7%);
$redA6: hsl(358deg 99.6% 60.3% / 32.2%);
$redA7: hsl(357deg 100% 59.5% / 44.2%);
$redA8: hsl(358deg 99.8% 59.1% / 62.1%);
$redA9: hsl(358deg 100% 65.5% / 88.4%);
$redA10: hsl(358deg 100% 67.5% / 94.2%);
$redA11: hsl(358deg 100% 69.7% / 98%);
$redA12: hsl(352deg 100% 97.1% / 98%);
