$red1: hsl(359deg 100% 99.4%);
$red2: hsl(359deg 100% 98.6%);
$red3: hsl(360deg 100% 96.8%);
$red4: hsl(360deg 97.9% 94.8%);
$red5: hsl(360deg 90.2% 91.9%);
$red6: hsl(360deg 81.7% 87.8%);
$red7: hsl(359deg 74.2% 81.7%);
$red8: hsl(359deg 69.5% 74.3%);
$red9: hsl(358deg 75.0% 59.0%);
$red10: hsl(358deg 69.4% 55.2%);
$red11: hsl(358deg 65.0% 48.7%);
$red12: hsl(354deg 50.0% 14.6%);
$redA1: hsl(0deg 100% 51.0% / 1.2%);
$redA2: hsl(0deg 100% 51.0% / 3.2%);
$redA3: hsl(0deg 100% 50.2% / 6.3%);
$redA4: hsl(0deg 100% 50.0% / 10.2%);
$redA5: hsl(0deg 99.9% 47.5% / 15.3%);
$redA6: hsl(0deg 99.5% 44.9% / 22.4%);
$redA7: hsl(359deg 99.7% 42.7% / 31.8%);
$redA8: hsl(359deg 99.6% 41.1% / 43.6%);
$redA9: hsl(358deg 99.9% 42.9% / 71.8%);
$redA10: hsl(358deg 99.9% 41.0% / 76.1%);
$redA11: hsl(358deg 99.8% 38.3% / 83.2%);
$redA12: hsl(355deg 99.3% 7.9% / 92.6%);
