$color-red: hsl(0, 100%, 43%);              /*without text*/
$color-red-light: hsl(0, 72%, 72%);         /*with dark text*/
$color-red-dark: hsl(0, 100%, 27%);         /*with light text*/
$color-green: hsl(143, 60%, 50%);           /*with dark text*/
$color-green-light: hsl(143, 60%, 75%);     /*with dark text*/
$color-green-dark: hsl(143, 80%, 19%);      /*with light text*/
$color-blue: hsl(204, 70%, 53%);            /*without text*/
$color-blue-light: hsl(204, 69%, 80%);      /*with dark text*/
$color-blue-dark: hsl(204, 75%, 24%);       /*with light text*/
$color-yellow: hsl(48, 89%, 50%);           /*with dark text*/
$color-yellow-light: hsl(48, 89%, 79%);     /*with dark text*/
$color-yellow-dark: hsl(48, 100%, 15%);     /*with light text*/
$color-grey: hsl(0, 0%, 27%);               /*with light text*/
$color-grey-light: hsl(0, 0%, 68%);         /*with dark text*/
$color-grey-dark: hsl(0, 0%, 20%);          /*with light text*/
$color-orange: hsl(16, 82%, 52%);           /*without text*/
$color-orange-light: hsl(16, 80%, 76%);     /*with dark text*/
$color-orange-dark: hsl(16, 90%, 24%);      /*with light text*/

$color-light: hsl(0, 0%, 92%);              /*with dark text*/
$color-dark: hsl(0, 0%, 8%);                /*with light text*/

$color-aubergine: hsl(319, 33%, 30%);       /*with light text*/
$color-aubergine-light: hsl(319, 26%, 70%); /*with dark text*/
$color-aubergine-dark: hsl(319, 100%, 9%);  /*with light text*/

$gradient-color: $color-red, $color-red-dark, $color-dark;

.terminal {
  /*Semantics*/
  /*Colors that help identify status, see actions, locate help, and understand next steps.*/
  /*Max 4 colors*/
  --color-aubergine: #{$color-aubergine};             /*with light text*/
  --color-aubergine-light: #{$color-aubergine-light}; /*with dark text*/
  --color-aubergine-dark: #{$color-aubergine-dark};   /*with light text*/
  --color-orange: #{$color-orange};                   /*without text*/
  --color-orange-light: #{$color-orange-light};       /*with dark text*/
  --color-orange-dark: #{$color-orange-dark};         /*with light text*/

  --color-grey: #{$color-grey};                       /*with light text*/
  --color-grey-light: #{$color-grey-light};           /*with dark text*/

  --color-light: #{$color-light};                     /*with dark text*/
  --color-dark: #{$color-dark};                       /*with light text*/

  --color-text-dark: var(--color-dark);
  --color-text-light: var(--color-light);

  /*Accent*/
  /*Colors you can use to distinguish elements between them such as tags.*/
  /*For now there is 6 colors because we think it is enough and avoid too much confusions.*/

  --color-red: hsl(0, 100%, 43%);           /*without text*/
  --color-red-light: hsl(0, 72%, 72%);      /*with dark text*/
  --color-red-dark: hsl(0, 100%, 27%);      /*with light text*/
  --color-yellow: hsl(48, 89%, 50%);        /*with dark text*/
  --color-yellow-light: hsl(48, 89%, 79%);  /*with dark text*/
  --color-yellow-dark: hsl(48, 100%, 15%);  /*with light text*/
  --color-green: hsl(143, 60%, 50%);        /*with dark text*/
  --color-green-light: hsl(143, 60%, 75%);  /*with dark text*/
  --color-green-dark: hsl(143, 80%, 19%);   /*with light text*/
  --color-blue: hsl(204, 70%, 53%);         /*without text*/
  --color-blue-light: hsl(204, 69%, 80%);   /*with dark text*/
  --color-blue-dark: hsl(204, 75%, 24%);    /*with light text*/
}
