@use "../abstract/function";
@use "../abstract/radius";
@use "../abstract/variables";
@use "../abstract/space";
@use "../abstract/color" as _color;

// Button size  Token
//==============================================================================
// Large        font-size-medium
//              font-weight-regular
//              font-style-normal
//              font-height-default
// Medium       font-size-base
//              font-weight-regular
//              font-style-normal
//              font-height-default
// Small        font-size-base
//              font-weight-regular
//              font-style-normal
//              font-height-default

// Value  Token
//==============================================================================
// 4px    space-inline-4x
// 12px   space-inline-12x

// Value  Token
//==============================================================================
// 4px    space-inset-4x
// 12px   space-inset-8x

// Fixed height
//==============================================================================
// Large        40px
// Medium       32px
// Small        24px

// Large
$-font-size-large: variables.$font-size-medium;
$-font-weight-large: variables.$font-weight-regular;
$-line-height-large: function.line-height($-font-size-large);
$-height-large: 40px;
$-space-inset-large: space.$space-inset-8x;

// Medium
$-font-size: variables.$font-size-base;
$-font-weight: variables.$font-weight-regular;
$-line-height: function.line-height($-font-size);
$-height: 32px;
$-space-inset: space.$space-inset-8x;

// Small
$-font-size-small: variables.$font-size-base;
$-font-weight-small: variables.$font-weight-regular;
$-line-height-small: function.line-height($-font-size-small);
$-height-small: 24px;
$-space-inset-small: space.$space-inset-4x;

.btn {
  --btn-space-inset: #{$-space-inset};
  --btn-font-size: #{$-font-size};
  --btn-font-weight: #{$-font-weight};
  --btn-line-height: #{$-line-height};
  --btn-border-radius: #{radius.$radius-rounded-4px};
  --btn-disabled-opacity: 0.65;
  --btn-min-width: #{function.min-width($-height)};
  --btn-height: #{$-height};;

  // color system
  // =============================================================================
  --btn-color-background: #{_color.$background};
  --btn-color-background-hover: #{_color.$background-hover};
  --btn-color-border: #{_color.$border};
  --btn-color-border-hover: #{_color.$border-hover};
  --btn-color-text: #{_color.$text};
  --btn-color-text-hover: #{_color.$text-hover};
  --btn-color-text-active: #{_color.$text-active};
  // Shapes : icons/elements
  --btn-color-shapes: var(--btn-color-border-hover);
  --btn-color-shapes-hover: var(--btn-color-text-hover);
  --btn-color-shapes-active: var(--btn-color-text-hover);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: var(--btn-height);
  min-width: var(--btn-min-width);
  width: auto;
  padding: var(--btn-space-inset) calc(var(--btn-space-inset) * 2);
  margin: 0;

  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid;
  border-radius: var(--btn-border-radius);
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out, border-color 0.15s ease-in-out;

  background-color: var(--btn-color-background);
  color: var(--btn-color-text);
  border-color: var(--btn-color-border);

  &:hover,
  &:focus {
    background-color: var(--btn-color-background-hover);
    color: var(--btn-color-text-hover);
    border-color: var(--btn-color-border-hover);
  }

  &:active {
    background-color: var(--btn-color-background-hover);
    color: var(--btn-color-text-active);
    border-color: var(--btn-color-border-hover);
  }

  &.btn-large {
    --btn-large-space-inset: #{$-space-inset-large};
    --btn-large-font-size: #{$-font-size-large};
    --btn-large-font-weight: #{$-font-weight-large};
    --btn-large-line-height: #{$-line-height-large};
    --btn-large-min-width: #{function.min-width($-height-large)};

    height: #{$-height-large};
    font-size: var(--btn-large-font-size);
    font-weight: var(--btn-large-font-weight);
    line-height: var(--btn-large-line-height);
    min-width: var(--btn-large-min-width);
    padding: var(--btn-large-space-inset) calc(var(--btn-large-space-inset));
  }

  &.btn-small {
    --btn-small-space-inset: #{$-space-inset};
    --btn-small-font-size: #{$-font-size-small};
    --btn-small-font-weight: #{$-font-weight-small};
    --btn-small-line-height: #{$-line-height-small};
    --btn-small-min-width: #{function.min-width($-height-small)};

    height: #{$-height-small};
    font-size: var(--btn-small-font-size);
    font-weight: var(--btn-small-font-weight);
    line-height: var(--btn-small-line-height);
    min-width: var(--btn-small-min-width);
    padding: var(--btn-small-space-inset) calc(var(--btn-small-space-inset));
  }

  &.btn-icon {
    display: flex;
    flex-direction: row;

    svg {
      margin-right: #{space.$space-inline-12x};
      color: var(--btn-color-shapes);
    }

    &:hover,
    &:focus {
      svg {
        color: var(--btn-color-shapes-hover);
      }
    }

    &:active {
      svg {
        color: var(--btn-color-shapes-active);
      }
    }
  }

  &.btn-dark {
    // color system
    // =============================================================================
    --btn-dark-color-background: #{_color.$dark-background};
    --btn-dark-color-background-hover: #{_color.$dark-background-hover};
    --btn-dark-color-border: #{_color.$dark-border};
    --btn-dark-color-border-hover: #{_color.$dark-border-hover};
    --btn-dark-color-text: #{_color.$dark-text};
    --btn-dark-color-text-hover: #{_color.$dark-text-hover};
    --btn-dark-color-text-active: #{_color.$dark-text-active};
    --btn-dark-color-shapes: var(--btn-dark-color-border-hover);
    --btn-dark-color-shapes-hover: var(--btn-dark-color-text-hover);
    --btn-dark-color-shapes-active: var(--btn-dark-color-text-hover);

    background-color: var(--btn-dark-color-background);
    border: 1px solid var(--btn-dark-color-border);
    color: var(--btn-dark-color-text);

    &:hover,
    &:focus {
      background-color: var(--btn-dark-color-background-hover);
      border: 1px solid var(--btn-dark-color-border-hover);
      color: var(--btn-dark-color-text-hover);
    }

    &:active {
      background: var(--btn-color-background-hover);
      color: var(--btn-color-text-active);
      border-color: var(--btn-color-border-hover);
    }
  }

  &.btn-grey {
    // color system
    // =============================================================================
    --btn-grey-color-background: var(--color-border);
    --btn-grey-color-background-hover: var(--color-text-hover);
    --btn-grey-color-border: var(--color-border);
    --btn-grey-color-border-hover: var(--color-text-hover);
    // Shapes : icons/elements
    //--btn-grey-color-shapes: var(--btn-grey-color-border-hover);
    --btn-grey-color-shapes: var(--btn-grey-color-text);
    --btn-grey-color-shapes-hover: var(--btn-grey-color-text-hover);
    //--btn-grey-color-shapes-active: ;
    --btn-grey-color-text: var(--color-text-hover);
    --btn-grey-color-text-hover: var(--color-border);
    // --btn-color-text-active: ;

    background-color: var(--btn-grey-color-background);
    border: 1px solid var(--btn-grey-color-border);
    color: var(--btn-grey-color-text);

    &:hover {
      background-color: var(--btn-grey-color-background-hover);
      border: 1px solid var(--btn-grey-color-border-hover);
      color: var(--btn-grey-color-text-hover);
    }

    svg {
      color: var(--btn-grey-color-shapes);
    }

    &:hover {
      svg {
        color: var(--btn-grey-color-shapes-hover);
      }
    }
  }
}
