@use "../abstract/function";
@use "../abstract/radius";
@use "../abstract/variables";
@use "../abstract/space";

// Button size  Token
//==============================================================================
// Large        font-size-medium
//              font-weight-regular
//              font-style-normal
//              font-height-default
// Medium       font-size-base
//              font-weight-regular
//              font-style-normal
//              font-height-default
// Small        font-size-base
//              font-weight-regular
//              font-style-normal
//              font-height-default

// Value  Token
//==============================================================================
// 4px    space-inline-4x
// 8px    space-inline-8x

// Value  Token
//==============================================================================
// 4px    space-stack-4x
// 8px   space-stack-8x

// Value  Token
//==============================================================================
// 8px    space-inset-8x
// 16px   space-inset-16x

// Fixed height
//==============================================================================
// Large        40px
// Medium       32px
// Small        24px

$-font-size: variables.$font-size-base;
$-font-weight: variables.$font-weight-regular;
$-line-height: function.line-height($-font-size);
$-space-inset: space.$space-inset-16x;

.card {
  --card-space-inset: #{$-space-inset};
  --card-font-size: #{$-font-size};
  --card-font-weight: #{$-font-weight};
  --card-line-height: #{$-line-height};
  --card-border-radius: #{radius.$radius-rounded-4px};

  // color system
  // =============================================================================
  --card-color-background: var(--color-background);
  --card-color-background-hover: var(--color-background-hover);
  --card-color-border: var(--color-border);
  --card-color-border-hover: var(--color-border-hover);
  // Shapes : icons/elements
  --card-color-shapes: var(--card-color-border-hover);
  --card-color-shapes-hover: var(--card-color-text-hover);
  --card-color-shapes-active: var(--card-color-text-hover);
  --card-color-text: var(--color-text);
  --card-color-text-hover: var(--color-text-hover);
  --card-color-text-active: var(--color-text-active);

  background-color: var(--card-color-background);
  color: var(--card-color-text);
  border: 1px solid var(--card-color-border);
  border-radius: var(--card-border-radius);
  padding: var(--card-space-inset);
  box-shadow: var(--box-shadow-2), var(--box-shadow-1);
  overflow: hidden;

  text-align: center;
}
