@use "../abstract/function";
@use "../abstract/space";
@use "sass:map";

//                                .container
//==============================================================================
// Extra small : <576px            100%
// Small       : sm      ≥576px    576px-2*1rem
// Medium      : md      ≥768px    768px-2*1rem
// Large       : lg      ≥992px    992px-2*1rem
// X-Large     : xl      ≥1200px   1200px-2*1rem
// XX-Large    : xxl     ≥1400px   87vw

// Value  Token
//==============================================================================
// 16px   space-inline-16x

$-space-inline: space.$space-inline-16x;

.container {
  --container-space-inline: #{$-space-inline};

  --container-max-width-sm: calc(#{function.breakpoint("sm")} - ( var(--container-space-inline) * 2 ));
  --container-max-width-md: calc(#{function.breakpoint("md")} - ( var(--container-space-inline) * 2 ));
  --container-max-width-lg: calc(#{function.breakpoint("lg")} - ( var(--container-space-inline) * 2 ));
  --container-max-width-xl: calc(#{function.breakpoint("xl")} - ( var(--container-space-inline) * 2 ));
  --container-max-width-xxl: 87vw;

  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-space-inline);

  @media (min-width: function.breakpoint("sm")) {
    max-width: var(--container-max-width-sm);
  }

  @media (min-width: function.breakpoint("md")) {
    max-width: var(--container-max-width-md);
  }

  @media (min-width: function.breakpoint("lg")) {
    max-width: var(--container-max-width-lg);
  }

  @media (min-width: function.breakpoint("xl")) {
    max-width: var(--container-max-width-xl);
  }

  @media (min-width: function.breakpoint("xxl")) {
    max-width: var(--container-max-width-xxl);
  }
}
