@use "../abstract/space";

//Value       Token
//==============================================================================
//4px         space-stack-4x
//8px         space-stack-8x
$list-space-stack-4x: space.$space-stack-4x;
$list-space-stack-8x: space.$space-stack-8x;

//Value       Token
//==============================================================================
//4px         space-inline-4x
//16px        space-inline-16x
$list-space-inline-4x: space.$space-inline-4x;
$list-space-inline-16x: space.$space-inline-16x;

//Exception
//==============================================================================
//horizontal padding twice the vertical padding in list
//4px         space-inset-4x
//8px         space-inset-8x
//16px        space-inset-16x
$list-space-inset-4x-y: space.$space-inset-4x;
$list-space-inset-4x-x: space.$space-inset-8x;
$list-space-inset-8x-x: space.$space-inset-8x;
$list-space-inset-8x-y: space.$space-inset-16x;
