.table {
  tbody {
    tr:nth-child(even) {
      background-color: var(--color-grey-light);
      color: var(--color-text-dark);
    }
  }

  &.w-100 {
    width: calc(100% - 2 * var(--margin));
  }

  &.w-50 {
    width: calc(50% - 2 * var(--margin));
  }
}
