$color-0: hsla(319, 0%, 100%, 1);
//7:1 (#525960FF) ↑
$color-0-5: hsla(312, 29%, 97%, 1);
$color-1: hsla(318, 31%, 94%, 1);
$color-1-5: hsla(316, 31%, 90%, 1);
$color-2: hsla(318, 31%, 87%, 1);
$color-3: hsla(319, 33%, 80%, 1);
//7:1 (#2D3139FF) ↑
$color-4: hsla(319, 33%, 73%, 1);
$color-5: hsla(319, 32%, 67%, 1);
$color-6: hsla(319, 30%, 61%, 1);
$color-7: hsla(319, 28%, 55%, 1);
$color-8: hsla(319, 26%, 51%, 1);
$color-9: hsla(319, 28%, 46%, 1);
$color-10: hsla(319,30%,42%, 1);
//7:1 (#FFFFFF) ↓
$color-11: hsla(319, 32%, 37%, 1);
$color-12: hsla(319, 33%, 34%, 1);
$color-13: hsla(339, 33%, 30%, 1);
$color-14: hsla(319, 41%, 24%, 1);
$color-15: hsla(319, 49%, 19%, 1);
$color-16: hsla(318, 59%, 14%, 1);
$color-17: hsla(318, 69%, 10%, 1);
$color-18: hsla(319, 76%, 6%, 1);
$color-19: hsla(321, 88%, 3%, 1);
$color-20: hsla(319, 100%, 0%, 1);
