$color-0: hsl(220deg 0% 100% / 100%);

// 7:1 (#525960FF) ↑
$color-0-5: hsl(220deg 100% 98% / 100%);
$color-1: hsl(220deg 100% 95% / 100%);
$color-1-5: hsl(220deg 95% 93% / 100%);
$color-2: hsl(220deg 96% 90% / 100%);
$color-3: hsl(220deg 95% 85% / 100%);

// 7:1 (#2D3139FF) ↑
$color-4: hsl(220deg 94% 81% / 100%);
$color-5: hsl(220deg 93% 76% / 100%);
$color-6: hsl(220deg 93% 72% / 100%);
$color-7: hsl(220deg 91% 68% / 100%);
$color-8: hsl(220deg 90% 64% / 100%);
$color-9: hsl(220deg 88% 61% / 100%);
$color-10: hsl(220deg 85% 58% / 100%);
$color-11: hsl(220deg 82% 54% / 100%);
$color-12: hsl(220deg 78% 51% / 100%);
$color-13: hsl(220deg 80% 48% / 100%);
$color-14: hsl(220deg 84% 44% / 100%);

// 7:1 (#FFFFFF) ↓
$color-15: hsl(220deg 88% 39% / 100%);
$color-16: hsl(220deg 91% 31% / 100%);
$color-17: hsl(220deg 95% 22% / 100%);
$color-18: hsl(220deg 97% 14% / 100%);
$color-19: hsl(220deg 97% 14% / 100%);
$color-20: hsl(220deg 100% 0% / 100%);
$blue1: hsl(206deg 100% 99.2%);
$blue2: hsl(210deg 100% 98.0%);
$blue3: hsl(209deg 100% 96.5%);
$blue4: hsl(210deg 98.8% 94.0%);
$blue5: hsl(209deg 95.0% 90.1%);
$blue6: hsl(209deg 81.2% 84.5%);
$blue7: hsl(208deg 77.5% 76.9%);
$blue8: hsl(206deg 81.9% 65.3%);
$blue9: hsl(206deg 100% 50.0%);
$blue10: hsl(208deg 100% 47.3%);
$blue11: hsl(211deg 100% 43.2%);
$blue12: hsl(211deg 100% 15.0%);
$blueA1: hsl(210deg 100% 51.0% / 1.6%);
$blueA2: hsl(210deg 100% 51.0% / 4%);
$blueA3: hsl(210deg 100% 50.3% / 7.1%);
$blueA4: hsl(210deg 100% 50.1% / 11.8%);
$blueA5: hsl(208deg 99.1% 47.1% / 18.9%);
$blueA6: hsl(209deg 99.5% 45.3% / 28.3%);
$blueA7: hsl(208deg 99.9% 43.8% / 41.2%);
$blueA8: hsl(206deg 99.8% 45.1% / 63.2%);
$blueA9: hsl(206deg 100% 50.0% / 98%);
$blueA10: hsl(208deg 100% 47.2% / 98%);
$blueA11: hsl(212deg 100% 43.0% / 98%);
$blueA12: hsl(213deg 100% 14.4% / 98%);
