$blue1: hsl(212, 35.0%, 9.2%);
$blue2: hsl(216, 50.0%, 11.8%);
$blue3: hsl(214, 59.4%, 15.3%);
$blue4: hsl(214, 65.8%, 17.9%);
$blue5: hsl(213, 71.2%, 20.2%);
$blue6: hsl(212, 77.4%, 23.1%);
$blue7: hsl(211, 85.1%, 27.4%);
$blue8: hsl(211, 89.7%, 34.1%);
$blue9: hsl(206, 100%, 50.0%);
$blue10: hsl(209, 100%, 60.6%);
$blue11: hsl(210, 100%, 66.1%);
$blue12: hsl(206, 98.0%, 95.8%);

$blueA1: hsla(0, 0%, 0%, 0);
$blueA2: hsla(221, 97.8%, 52.4%, 0.059);
$blueA3: hsla(215, 99.3%, 54.2%, 0.135);
$blueA4: hsla(215, 99.3%, 53.8%, 0.198);
$blueA5: hsla(213, 99.4%, 52.8%, 0.252);
$blueA6: hsla(212, 99.9%, 51.7%, 0.323);
$blueA7: hsla(211, 100%, 50.7%, 0.435);
$blueA8: hsla(211, 99.8%, 50.9%, 0.597);
$blueA9: hsla(205, 100%, 50.0%, 0.980);
$blueA10: hsla(208, 100%, 60.7%, 0.980);
$blueA11: hsla(209, 100%, 66.3%, 0.980);
$blueA12: hsla(196, 100%, 96.8%, 0.980);
