$color-0: hsla(220, 0%, 100%, 1);
//7:1 (#525960FF) ↑
$color-0-5: hsla(220, 100%, 98%, 1);
$color-1: hsla(220, 100%, 95%, 1);
$color-1-5: hsla(220, 95%, 93%, 1);
$color-2: hsla(220, 96%, 90%, 1);
$color-3: hsla(220, 95%, 85%, 1);
//7:1 (#2D3139FF) ↑
$color-4: hsla(220, 94%, 81%, 1);
$color-5: hsla(220, 93%, 76%, 1);
$color-6: hsla(220, 93%, 72%, 1);
$color-7: hsla(220, 91%, 68%, 1);
$color-8: hsla(220, 90%, 64%, 1);
$color-9: hsla(220, 88%, 61%, 1);
$color-10: hsla(220, 85%, 58%, 1);
$color-11: hsla(220, 82%, 54%, 1);
$color-12: hsla(220, 78%, 51%, 1);
$color-13: hsla(220, 80%, 48%, 1);
$color-14: hsla(220, 84%, 44%, 1);
//7:1 (#FFFFFF) ↓
$color-15: hsla(220, 88%, 39%, 1);
$color-16: hsla(220, 91%, 31%, 1);
$color-17: hsla(220, 95%, 22%, 1);
$color-18: hsla(220, 97%, 14%, 1);
$color-19: hsla(220, 97%, 14%, 1);
$color-20: hsla(220, 100%, 0%, 1);

$blue1: hsl(206, 100%, 99.2%);
$blue2: hsl(210, 100%, 98.0%);
$blue3: hsl(209, 100%, 96.5%);
$blue4: hsl(210, 98.8%, 94.0%);
$blue5: hsl(209, 95.0%, 90.1%);
$blue6: hsl(209, 81.2%, 84.5%);
$blue7: hsl(208, 77.5%, 76.9%);
$blue8: hsl(206, 81.9%, 65.3%);
$blue9: hsl(206, 100%, 50.0%);
$blue10: hsl(208, 100%, 47.3%);
$blue11: hsl(211, 100%, 43.2%);
$blue12: hsl(211, 100%, 15.0%);

$blueA1: hsla(210, 100%, 51.0%, 0.016);
$blueA2: hsla(210, 100%, 51.0%, 0.040);
$blueA3: hsla(210, 100%, 50.3%, 0.071);
$blueA4: hsla(210, 100%, 50.1%, 0.118);
$blueA5: hsla(208, 99.1%, 47.1%, 0.189);
$blueA6: hsla(209, 99.5%, 45.3%, 0.283);
$blueA7: hsla(208, 99.9%, 43.8%, 0.412);
$blueA8: hsla(206, 99.8%, 45.1%, 0.632);
$blueA9: hsla(206, 100%, 50.0%, 0.980);
$blueA10: hsla(208, 100%, 47.2%, 0.980);
$blueA11: hsla(212, 100%, 43.0%, 0.980);
$blueA12: hsla(213, 100%, 14.4%, 0.980);
