$gray1: hsl(0, 0%, 99.0%);
$gray2: hsl(0, 0%, 97.3%);
$gray3: hsl(0, 0%, 95.1%);
$gray4: hsl(0, 0%, 93.0%);
$gray5: hsl(0, 0%, 90.9%);
$gray6: hsl(0, 0%, 88.7%);
$gray7: hsl(0, 0%, 85.8%);
$gray8: hsl(0, 0%, 78.0%);
$gray9: hsl(0, 0%, 56.1%);
$gray10: hsl(0, 0%, 52.3%);
$gray11: hsl(0, 0%, 43.5%);
$gray12: hsl(0, 0%, 9.0%);

$grayA1: hsla(0, 0%, 0%, 0.012);
$grayA2: hsla(0, 0%, 0%, 0.027);
$grayA3: hsla(0, 0%, 0%, 0.047);
$grayA4: hsla(0, 0%, 0%, 0.071);
$grayA5: hsla(0, 0%, 0%, 0.090);
$grayA6: hsla(0, 0%, 0%, 0.114);
$grayA7: hsla(0, 0%, 0%, 0.141);
$grayA8: hsla(0, 0%, 0%, 0.220);
$grayA9: hsla(0, 0%, 0%, 0.439);
$grayA10: hsla(0, 0%, 0%, 0.478);
$grayA11: hsla(0, 0%, 0%, 0.565);
$grayA12: hsla(0, 0%, 0%, 0.910);
