$green1: hsl(146deg 30.0% 7.4%);
$green2: hsl(155deg 44.2% 8.4%);
$green3: hsl(155deg 46.7% 10.9%);
$green4: hsl(154deg 48.4% 12.9%);
$green5: hsl(154deg 49.7% 14.9%);
$green6: hsl(154deg 50.9% 17.6%);
$green7: hsl(153deg 51.8% 21.8%);
$green8: hsl(151deg 51.7% 28.4%);
$green9: hsl(151deg 55.0% 41.5%);
$green10: hsl(151deg 49.3% 46.5%);
$green11: hsl(151deg 50.0% 53.2%);
$green12: hsl(137deg 72.0% 94.0%);
$greenA1: hsl(0deg 0% 0% / 0%);
$greenA2: hsl(169deg 100% 48.5% / 2.7%);
$greenA3: hsl(162deg 98.7% 57.9% / 7%);
$greenA4: hsl(158deg 98.6% 59.7% / 10.5%);
$greenA5: hsl(158deg 98.6% 60.7% / 14%);
$greenA6: hsl(156deg 99.9% 62.0% / 18.7%);
$greenA7: hsl(154deg 99.5% 63.1% / 25.7%);
$greenA8: hsl(152deg 99.7% 64.2% / 37%);
$greenA9: hsl(151deg 99.7% 63.8% / 60.5%);
$greenA10: hsl(152deg 99.9% 66.5% / 66.1%);
$greenA11: hsl(151deg 99.7% 69.2% / 74%);
$greenA12: hsl(137deg 100% 95.8% / 98%);
