$green1: hsl(146, 30.0%, 7.4%);
$green2: hsl(155, 44.2%, 8.4%);
$green3: hsl(155, 46.7%, 10.9%);
$green4: hsl(154, 48.4%, 12.9%);
$green5: hsl(154, 49.7%, 14.9%);
$green6: hsl(154, 50.9%, 17.6%);
$green7: hsl(153, 51.8%, 21.8%);
$green8: hsl(151, 51.7%, 28.4%);
$green9: hsl(151, 55.0%, 41.5%);
$green10: hsl(151, 49.3%, 46.5%);
$green11: hsl(151, 50.0%, 53.2%);
$green12: hsl(137, 72.0%, 94.0%);

$greenA1: hsla(0, 0%, 0%, 0);
$greenA2: hsla(169, 100%, 48.5%, 0.027);
$greenA3: hsla(162, 98.7%, 57.9%, 0.070);
$greenA4: hsla(158, 98.6%, 59.7%, 0.105);
$greenA5: hsla(158, 98.6%, 60.7%, 0.140);
$greenA6: hsla(156, 99.9%, 62.0%, 0.187);
$greenA7: hsla(154, 99.5%, 63.1%, 0.257);
$greenA8: hsla(152, 99.7%, 64.2%, 0.370);
$greenA9: hsla(151, 99.7%, 63.8%, 0.605);
$greenA10: hsla(152, 99.9%, 66.5%, 0.661);
$greenA11: hsla(151, 99.7%, 69.2%, 0.740);
$greenA12: hsla(137, 100%, 95.8%, 0.980);
