$purple1: hsl(284deg 20.0% 9.6%);
$purple2: hsl(283deg 30.0% 11.8%);
$purple3: hsl(281deg 37.5% 16.5%);
$purple4: hsl(280deg 41.2% 20.0%);
$purple5: hsl(279deg 43.8% 23.3%);
$purple6: hsl(277deg 46.4% 27.5%);
$purple7: hsl(275deg 49.3% 34.6%);
$purple8: hsl(272deg 52.1% 45.9%);
$purple9: hsl(272deg 51.0% 54.0%);
$purple10: hsl(273deg 57.3% 59.1%);
$purple11: hsl(275deg 80.0% 71.0%);
$purple12: hsl(279deg 75.0% 95.7%);
$purpleA1: hsl(0deg 0% 0% / 0%);
$purpleA2: hsl(280deg 96.5% 57.5% / 4.5%);
$purpleA3: hsl(279deg 98.7% 62.8% / 12.9%);
$purpleA4: hsl(279deg 99.1% 64.0% / 19.1%);
$purpleA5: hsl(278deg 99.8% 64.2% / 24.8%);
$purpleA6: hsl(276deg 99.6% 64.6% / 32.8%);
$purpleA7: hsl(274deg 99.9% 64.6% / 45.6%);
$purpleA8: hsl(272deg 99.7% 64.6% / 66%);
$purpleA9: hsl(272deg 99.9% 69.1% / 74.8%);
$purpleA10: hsl(273deg 100% 71.3% / 80.1%);
$purpleA11: hsl(275deg 99.9% 75.3% / 93.4%);
$purpleA12: hsl(286deg 100% 97.1% / 98%);
