$purple1: hsl(284, 20.0%, 9.6%);
$purple2: hsl(283, 30.0%, 11.8%);
$purple3: hsl(281, 37.5%, 16.5%);
$purple4: hsl(280, 41.2%, 20.0%);
$purple5: hsl(279, 43.8%, 23.3%);
$purple6: hsl(277, 46.4%, 27.5%);
$purple7: hsl(275, 49.3%, 34.6%);
$purple8: hsl(272, 52.1%, 45.9%);
$purple9: hsl(272, 51.0%, 54.0%);
$purple10: hsl(273, 57.3%, 59.1%);
$purple11: hsl(275, 80.0%, 71.0%);
$purple12: hsl(279, 75.0%, 95.7%);

$purpleA1: hsla(0, 0%, 0%, 0);
$purpleA2: hsla(280, 96.5%, 57.5%, 0.045);
$purpleA3: hsla(279, 98.7%, 62.8%, 0.129);
$purpleA4: hsla(279, 99.1%, 64.0%, 0.191);
$purpleA5: hsla(278, 99.8%, 64.2%, 0.248);
$purpleA6: hsla(276, 99.6%, 64.6%, 0.328);
$purpleA7: hsla(274, 99.9%, 64.6%, 0.456);
$purpleA8: hsla(272, 99.7%, 64.6%, 0.660);
$purpleA9: hsla(272, 99.9%, 69.1%, 0.748);
$purpleA10: hsla(273, 100%, 71.3%, 0.801);
$purpleA11: hsla(275, 99.9%, 75.3%, 0.934);
$purpleA12: hsla(286, 100%, 97.1%, 0.980);
