$red1: hsl(359, 100%, 99.4%);
$red2: hsl(359, 100%, 98.6%);
$red3: hsl(360, 100%, 96.8%);
$red4: hsl(360, 97.9%, 94.8%);
$red5: hsl(360, 90.2%, 91.9%);
$red6: hsl(360, 81.7%, 87.8%);
$red7: hsl(359, 74.2%, 81.7%);
$red8: hsl(359, 69.5%, 74.3%);
$red9: hsl(358, 75.0%, 59.0%);
$red10: hsl(358, 69.4%, 55.2%);
$red11: hsl(358, 65.0%, 48.7%);
$red12: hsl(354, 50.0%, 14.6%);

$redA1: hsla(0, 100%, 51.0%, 0.012);
$redA2: hsla(0, 100%, 51.0%, 0.032);
$redA3: hsla(0, 100%, 50.2%, 0.063);
$redA4: hsla(0, 100%, 50.0%, 0.102);
$redA5: hsla(0, 99.9%, 47.5%, 0.153);
$redA6: hsla(0, 99.5%, 44.9%, 0.224);
$redA7: hsla(359, 99.7%, 42.7%, 0.318);
$redA8: hsla(359, 99.6%, 41.1%, 0.436);
$redA9: hsla(358, 99.9%, 42.9%, 0.718);
$redA10: hsla(358, 99.9%, 41.0%, 0.761);
$redA11: hsla(358, 99.8%, 38.3%, 0.832);
$redA12: hsla(355, 99.3%, 7.9%, 0.926);
