$yellow1: hsl(45deg 100% 5.5%);
$yellow2: hsl(46deg 100% 6.7%);
$yellow3: hsl(45deg 100% 8.7%);
$yellow4: hsl(45deg 100% 10.4%);
$yellow5: hsl(47deg 100% 12.1%);
$yellow6: hsl(49deg 100% 14.3%);
$yellow7: hsl(49deg 90.3% 18.4%);
$yellow8: hsl(50deg 100% 22.0%);
$yellow9: hsl(53deg 92.0% 50.0%);
$yellow10: hsl(54deg 100% 68.0%);
$yellow11: hsl(48deg 100% 47.0%);
$yellow12: hsl(53deg 100% 91.0%);
$yellowA1: hsl(0deg 0% 0% / 0%);
$yellowA2: hsl(49deg 100% 49.1% / 2.7%);
$yellowA3: hsl(45deg 100% 49.7% / 7.1%);
$yellowA4: hsl(46deg 100% 49.7% / 11.1%);
$yellowA5: hsl(47deg 100% 49.9% / 15%);
$yellowA6: hsl(51deg 100% 49.8% / 19.9%);
$yellowA7: hsl(51deg 99.8% 53.6% / 26.9%);
$yellowA8: hsl(51deg 100% 49.9% / 37.1%);
$yellowA9: hsl(53deg 100% 52.0% / 95.6%);
$yellowA10: hsl(56deg 100% 68.4% / 98%);
$yellowA11: hsl(48deg 100% 50.0% / 93.4%);
$yellowA12: hsl(60deg 100% 91.8% / 98%);
