$yellow1: hsl(60deg 54.0% 98.5%);
$yellow2: hsl(52deg 100% 95.5%);
$yellow3: hsl(55deg 100% 90.9%);
$yellow4: hsl(54deg 100% 86.6%);
$yellow5: hsl(52deg 97.9% 82.0%);
$yellow6: hsl(50deg 89.4% 76.1%);
$yellow7: hsl(47deg 80.4% 68.0%);
$yellow8: hsl(48deg 100% 46.1%);
$yellow9: hsl(53deg 92.0% 50.0%);
$yellow10: hsl(50deg 100% 48.5%);
$yellow11: hsl(42deg 100% 29.0%);
$yellow12: hsl(40deg 55.0% 13.5%);
$yellowA1: hsl(60deg 94.3% 34.6% / 2.4%);
$yellowA2: hsl(52deg 100% 50.4% / 9.1%);
$yellowA3: hsl(55deg 100% 50.2% / 18.1%);
$yellowA4: hsl(54deg 100% 50.1% / 26.7%);
$yellowA5: hsl(52deg 99.9% 49.5% / 35.7%);
$yellowA6: hsl(50deg 100% 47.4% / 45.1%);
$yellowA7: hsl(47deg 99.8% 44.6% / 57.7%);
$yellowA8: hsl(48deg 100% 46.0% / 98%);
$yellowA9: hsl(53deg 100% 48.0% / 96.1%);
$yellowA10: hsl(50deg 100% 48.4% / 98%);
$yellowA11: hsl(42deg 100% 28.6% / 98%);
$yellowA12: hsl(41deg 98.9% 8.0% / 94.2%);


// Step            Use Case
// ============================================================================
// 1               App background
// 2               Subtle background
// 3               UI element background
// 4               Hovered UI element background
// 5               Active / Selected UI element background
// 6               Subtle borders and separators
// 7               UI element border and focus rings
// 8               Hovered UI element border
// 9               Solid backgrounds
// 10              Hovered solid backgrounds
// 11              Low-contrast text
// 12              High-contrast text

$yellowC1: hsl(46deg 100% 98% / 100%);
$yellowC2: hsl(46deg 90% 90% / 100%);
$yellowC3: hsl(46deg 86.7% 64.7% / 100%);
$yellowC4: hsl(46deg 80% 57% / 100%);
$yellowC5: hsl(46deg 80% 50% / 100%);
$yellowC6: hsl(46deg 80% 45% / 100%);
$yellowC7: hsl(46deg 80% 45% / 100%);
$yellowC8: hsl(46deg 80% 45% / 100%);
$yellowC9: hsl(46deg 80% 40% / 100%);
$yellowC10: hsl(46deg 100% 30% / 100%);
$yellowC11: hsl(46deg 100% 15% / 100%);
$yellowC12: hsl(46deg 100% 5% / 100%);
