@use "color/blue" as b;
@use "color/red" as r;
@use "color/yellow" as y;
@use "color/green" as g;
@use "color/grey" as gr;
@use "color/aubergine" as aub;
@use "color/orange" as o;
@use "color/overlays";

/* url: https://www.opensourcecolorsystem.design/ */

// color system
// =============================================================================
//--color-background: ;
//--color-background-hover: ;
//--color-border: ;
//--color-border-hover: ;
// Shapes : icons/elements
//--color-shapes: var(--color-border-hover);
//--color-shapes-hover: var(--color-text);
//--color-shapes-active: var(--color-text-hover);
//--color-text: ;
//--color-text-hover: ;
//--color-text-active: ;

// dark color system
// =============================================================================
//--color-dark-background: ;
//--color-dark-background-hover: ;
//--color-dark-border: ;
//--color-dark-border-hover: ;
// Shapes : icons/elements
//--color-dark-shapes: var(--color-dark-border-hover);
//--color-dark-shapes-hover: var(--color-dark-text);
//--color-dark-shapes-active: var(--color-dark-text-hover);
//--color-dark-text: ;
//--color-dark-text-hover: ;
//--color-dark-text-active: ;

:root {
  --black: #{gr.$color-20};
  --white: #{gr.$color-0};

  --color-grey-0: var(--white);
  --color-grey-1: #{gr.$color-0-5};
  --color-grey-2: #{gr.$color-1};
  --color-grey-3: #{gr.$color-8};
  --color-grey-4: #{gr.$color-12};
  --color-grey-5: #{gr.$color-16};
  --color-grey-6: var(--black);

  --color-background: var(--color-grey-0);
  --color-background-hover: var(--color-grey-1);
  --color-border: var(--color-grey-2);
  --color-border-hover: var(--color-grey-3);
  --color-shapes: var(--color-border-hover);
  --color-shapes-hover: var(--color-text);
  --color-shapes-active: var(--color-text-hover);
  --color-text: var(--color-grey-4);
  --color-text-hover: var(--color-grey-5);
  --color-text-active: var(--color-grey-6);

  --color-dark-background: var(--color-grey-6);
  --color-dark-background-hover: var(--color-grey-5);
  --color-dark-border: var(--color-grey-4);
  --color-dark-border-hover: var(--color-grey-3);
  --color-dark-shapes: var(--color-dark-border-hover);
  --color-dark-shapes-hover: var(--color-dark-text);
  --color-dark-shapes-active: var(--color-dark-text-hover);
  --color-dark-text: var(--color-grey-2);
  --color-dark-text-hover: var(--color-grey-1);
  --color-dark-text-active: var(--color-grey-0);

  // Semantics
  // Colors that help identify status,
  // see actions, locate help, and understand next steps.
  //============================================================================
  --color-alert: var(--color-red);
  --color-success: #{g.$color-16};

  --mark-color-background: #{y.$color-2};

  // Accent
  // Colors you can use to distinguish elements between them such as tags.
  // For now there is X colors because we think it is enough
  // and avoid too much confusions.
  //============================================================================
  --color-red: #{r.$color-13};
  --color-red-light: #{r.$color-3};
  --color-aubergine-dark: #{aub.$color-17};
  --color-orange: #{o.$color-12};

  // Neutrals & Overlays
  // They are essential for a perfect visual interface.

  // Please note that Neutrals and Overlays should be influenced
  // by your Primary Color.

  // This is why we can't provide Neutral and Overlay palettes
  // As Neutrals have more usages in our interfaces,
  // we will update the section with the right matrix and we are currently
  // working on specific parameters to help you define them.
  //============================================================================
  --color-overlay: #{overlays.$blackA11};
  --color-shadow: #{overlays.$blackA9};

  // Token name     Value
  //============================================================================
  // box-shadow-1   0 1px 4px #{color}
  // box-shadow-2   0 2px 10px #{color}
  --box-shadow-1: 0 1px 4px var(--color-shadow);
  --box-shadow-2: 0 2px 10px var(--color-shadow);
}
