@use "color/blue" as b;
@use "color/red" as r;
@use "color/yellow" as y;
@use "color/green" as g;
@use "color/grey" as gr;
@use "color/aubergine" as aub;
@use "color/orange" as o;
@use "color/overlays";

/* url: https://www.opensourcecolorsystem.design/ */

// color system
// =============================================================================
//--color-background: ;
//--color-background-hover: ;
//--color-border: ;
//--color-border-hover: ;
// Shapes : icons/elements
//--color-shapes: var(--color-border-hover);
//--color-shapes-hover: var(--color-text);
//--color-shapes-active: var(--color-text-hover);
//--color-text: ;
//--color-text-hover: ;
//--color-text-active: ;

// dark color system
// =============================================================================
//--color-dark-background: ;
//--color-dark-background-hover: ;
//--color-dark-border: ;
//--color-dark-border-hover: ;
// Shapes : icons/elements
//--color-dark-shapes: var(--color-dark-border-hover);
//--color-dark-shapes-hover: var(--color-dark-text);
//--color-dark-shapes-active: var(--color-dark-text-hover);
//--color-dark-text: ;
//--color-dark-text-hover: ;
//--color-dark-text-active: ;

$black: gr.$color-20;
$white: gr.$color-0;

$grey-0: $white;
$grey-1: gr.$color-0-5;
$grey-2: gr.$color-1;
$grey-3: gr.$color-8;
$grey-4: gr.$color-13;
$grey-5: gr.$color-17;
$grey-6: $black;

$background: $grey-0;
$background-hover: $grey-1;
$border: $grey-2;
$border-hover: $grey-3;
$text: $grey-4;
$text-hover: $grey-5;
$text-active: $grey-6;
$shapes: $border-hover;
$shapes-hover: $text;
$shapes-active: $text-hover;

$dark-background: $grey-6;
$dark-background-hover: $grey-5;
$dark-border: $grey-4;
$dark-border-hover: $grey-3;
$dark-text: $grey-2;
$dark-text-hover: $grey-1;
$dark-text-active: $grey-0;
$dark-shapes: $dark-border-hover;
$dark-shapes-hover: $dark-text;
$dark-shapes-active: $dark-text-hover;

// Accent
// Colors you can use to distinguish elements between them such as tags.
// For now there is X colors because we think it is enough
// and avoid too much confusions.
//============================================================================
$red: r.$color-13;
$red-light: r.$color-3;
$aubergine-dark: aub.$color-17;
$orange: o.$color-12;

// Semantics
// Colors that help identify status,
// see actions, locate help, and understand next steps.
//============================================================================
$alert: $red;
$success: g.$color-16;

$mark-color-background: y.$color-2;

// Neutrals & Overlays
// They are essential for a perfect visual interface.

// Please note that Neutrals and Overlays should be influenced
// by your Primary Color.

// This is why we can't provide Neutral and Overlay palettes
// As Neutrals have more usages in our interfaces,
// we will update the section with the right matrix and we are currently
// working on specific parameters to help you define them.
//============================================================================
$overlay: overlays.$blackA11;
$shadow: overlays.$blackA9;
