@mixin background-opacity($color, $opacity: 1) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  background: $color; /* The Fallback */
  background: rgba($red, $green, $blue, $opacity);
}

// Token name                 Value
//==========================================================
// font-style-normal          normal
// font-style-underline       underline
// font-style-strikethrough   line-through
@mixin font-style-normal {
  font-style: normal;
  text-decoration: none;
}

@mixin font-style-underline {
  font-style: normal;
  text-decoration: underline;
}

@mixin font-style-strikethrough {
  font-style: normal;
  text-decoration: line-through;
}
