code {
  color: var(--color-orange-light);
}

table {
  --margin: 1em;
  border: 1px dashed var(--color-light);
  margin: var(--margin);

  thead {
    color: var(--color-dark);
    text-align: center;
    background-color: var(--color-light);
  }

  td {
    padding: 0 0.5em;
  }

  &.w-100 {
    width: calc(100% - 2 * var(--margin));
  }

  &.w-50 {
    width: calc(50% - 2 * var(--margin));
  }
}
